<app-cabecera></app-cabecera> -->

<div class="container app">
  <div class="row">
    <button (click)="redirectAbout()">Click me!</button>
    <div class="col-sm-8">
      <h1 class="text-center">
        {{title}}
      </h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()">
          &times;
        </a>
        {{msg}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
    </div>
    <div class="col-sm-8">
      <h2>Create Data:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">
            Name
          </label>
          <div class="col-sm-10">
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              name="name" [(ngModel)]="subject.name" 
              placeholder="Enter a New Name">
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="control-label col-sm-2">
            Semester
          </label>
          <div class="col-sm-10">
            <input 
              type="number" 
              class="form-control" 
              id="semester" 
              name="semester" [(ngModel)]="subject.semester" 
              placeholder="Enter a New Semester">
          </div>
        </div>
        <div class="form-group">
          <label for="difficulty" class="control-label col-sm-2">
            Difficulty
          </label>
          <div class="col-sm-10">
            <input 
              type="text" 
              class="form-control" 
              id="difficulty" 
              name="difficulty" [(ngModel)]="subject.difficulty" 
              placeholder="Enter a New Difficulty">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button
              type="submit"
              class="btn btn-success"
              (click)="saveSubject()"
            >
            Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Read Data: </h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Semester</th>
            <th>Difficulty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects; let i = index">
            <!--<td>{{employee._id}}</td>-->
            <td>{{subject.name}}</td>
            <td>{{subject.semester}}</td>
            <td>{{subject.difficulty}}</td>
            <td>
              <a (click)="displayingEdit(i)" class="btn btn-success">
                Edit
              </a>
              <a (click)="eraseSubject(subject._id)" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4" [hidden]="hideUpdate">
      <h2>Update Data:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">
            Name
          </label>
          <div class="col-sm-10">
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              name="name" [(ngModel)]="subjectForEditing.name" 
              placeholder="Enter a New Name">
          </div>
        </div>
        <div class="form-group">
          <label for="semester" class="control-label col-sm-2">
            Semester
          </label>
          <div class="col-sm-10">
            <input 
              type="number" 
              class="form-control" 
              id="semester" 
              name="semester" [(ngModel)]="subjectForEditing.semester" 
              placeholder="Enter a New Semester">
          </div>
        </div>
        <div class="form-group">
          <label for="difficulty" class="control-label col-sm-2">
            Difficulty
          </label>
          <div class="col-sm-10">
            <input 
              type="text" 
              class="form-control" 
              id="difficulty" 
              name="difficulty" [(ngModel)]="subjectForEditing.difficulty" 
              placeholder="Enter a New Difficulty">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button
              type="submit"
              class="btn btn-success"
              (click)="editSubject(subject._id)"
            >
            Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
    
    <!--<li><a routerLink="/app_component" routerLinkActive="active" ariaCurrentWhenActive="page">App Component</a></li> -->
  <li><a routerLink="/about_component" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>-->
  
  <button (click)="deleteAllSubjects()">Delete all!</button>
<router-outlet></router-outlet>
</div>
